PORT=5000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=prestalya
DB_USER=root
DB_PASSWORD=tonmotdepasse

JWT_SECRET=change_ce_secret_en_production
JWT_EXPIRES_IN=7d

MONGO_URI=mongodb://localhost:27017/prestalya_chat

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tonmail@gmail.com
MAIL_PASS=ton_app_password

CLIENT_URL=http://localhost:5173

GROQ_API_KEY=ta_cle_groq

STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
